<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aglive V3 web app</title>

  <!-- Favicon -->
  <link href="./static/images/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- Bootstrap/Material Styles -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" />
  <link rel="stylesheet" href="./bower_components/bootstrap-material-design/dist/css/ripples.min.css" />

  <!-- Custom Styles -->
  <link rel="stylesheet" href="./static/css/style.css" />
  <link rel="stylesheet" href="./static/css/dash-table.css" />
  <link rel="stylesheet" href="./static/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="./static/font/font-family.css">

  <!-- Material Design fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Scripts -->
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/tether/dist/js/tether.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./bower_components/bootstrap-material-design/dist/js/material.js"></script>
  <script src="./bower_components/bootstrap-material-design/dist/js/ripples.js"></script>

</head>

<body>
  <div id="main" class="main-wrapper">
    <div> {{{markup}}}</div>
  </div>
  <script type="text/javascript " charset="utf-8 ">
          //window.__REDUX_STATE__ = JSON.stringify({{{reduxState}}}); //{{{reduxState}}};         
      </script>
<script src="./static/bundle-main.js "></script>
</body>

</html>