<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr style="height:25px">
<td>
    Hello Administrator,
</td>
</tr>
<tr style="height:50px">
<td>
    Feedback received with below details:
</td>
</tr>
</table>

<table cellspacing="0" cellpadding="4" border="1" width="80%">
    <tr>
        <td width="20%"> First Name </td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td width="20%"> Last Name </td>
        <td>{{lastName}}</td>
    </tr>
    <tr>
        <td width="20%"> Feedback </td>
        <td>{{feedback}}</td>
    </tr>
</table>