<br/><br/> If you would like to speak to customer support team, please call our help line on 1-300-893-531 during business hours (8.30am - 5.30pm, Monday to Friday, AEST) and we will help you. Outside of these hours, you can reach us at
<a style='color: blue' href='mailto:kothari_nilay@yahoo.co.in'>
    <u>kothari_nilay@yahoo.co.in</u>
</a>. Thank you again for joining the Self revolution, we trust that you like your new Self eNVD App!
<br/><br/> Thanks,
<br/> IntegriData – Self Customer Support Team.
<br/><br/><br/>
<span style='font-size:10pt'>This email is a service from IntegriData – Self. Please do not reply to this email as this email address is neither monitored
nor responded to.</span>